-e nemo-gym[dev] @ ../../
openenv-core[core]>=0.2.1
openenv-echo-env @ git+https://github.com/meta-pytorch/OpenEnv.git#subdirectory=envs/echo_env
# chess_env requires openenv.core.rubrics which isn't in openenv-core==0.2.1 yet
# openenv-chess-env @ git+https://github.com/meta-pytorch/OpenEnv.git#subdirectory=envs/chess_env
openenv-coding_env @ git+https://github.com/meta-pytorch/OpenEnv.git#subdirectory=envs/coding_env
openenv-maze-env @ git+https://github.com/meta-pytorch/OpenEnv.git#subdirectory=envs/maze_env
