-e nemo-gym[dev] @ ../../
setuptools<71
absl-py
langdetect
nltk
immutabledict
spacy
emoji
syllapy
unicodedata2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
