-e nemo-gym[dev] @ ../../
datasets
exmol>=3.3.0
httpx
huggingface-hub
molbloom==2.3.4
pydantic>=2
rdkit
regex
tenacity
matplotlib
Pillow==12.2.0
contourpy
cycler
kiwisolver
scikit-learn
scipy
joblib
threadpoolctl
